#root {
    height: 100%;
    background-color: #b598a1;
    overflow: hidden;
}

@import url('http://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
body{
    font-family: 'Poppins',sans-serif;
    padding: 0;
    margin: 0;
}